= form_for(resource, html: {class: 'form-signin'},  as: resource_name, url: registration_path(resource_name)) do |f|
  %h2 Register
  = devise_error_messages!

  .row
    .col-md-6
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
    .col-md-6
      .form-group
        = f.label :username
        = f.text_field :username, autocomplete: 'off', class: 'form-control'  
  .row
    .col-md-6
      .form-group
        = f.label :first_name
        = f.text_field :first_name, autocomplete: 'off', class: 'form-control'
    .col-md-6
      .form-group
        = f.label :last_name
        = f.text_field :last_name, autocomplete: 'off', class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :residence
        = f.text_field :residence, autocomplete: 'off', class: 'form-control'
    .col-md-6
      .form-group
        = f.label :birthday
        = f.date_field :birthday, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
  .actions
    = f.submit "Register", class: 'btn btn-primary'

  = render "devise/shared/links"