.user-profile
  .row
    .col-md-3
      = gravatar_for @user, size: 160
      %br
      %h4= @user.name
      .row
        .col-md-4
          = "Residence:"
        .col-md-6
          = @user.residence
      .row
        .col-md-4
          = "Birthday:"
        .col-md-6
          = birthday_formatted @user
    .col-md-5
      %h2.font-weight-bold Posts
      = render @user.posts, max_length: 250
    .col-md-4
      %h2.font-weight-bold Friends
      .row
        - @user.friends.each do |friend|
          .col-md-4.user-friend
            = gravatar_for friend
            %p.size-80= link_to friend.name, friend
        
          