%nav.navbar.navbar-expand-md.navbar-dark.mb-4
  .container
    %a.navbar-brand{:href => posts_path } RAILSBOOK
    %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to "Users", users_path, class: 'nav-link'
        %li.nav-item
          = link_to "Posts", posts_path, class: 'nav-link'
      %ul.navbar-nav.ml-auto
        - if user_signed_in?
          = render 'shared/notifications', user: current_user
          %li.nav-item.dropdown
            %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle"   => "dropdown", :href => "https://example.com"}
              = current_user.name
            .dropdown-menu{"aria-labelledby" => "dropdown01"}
              = link_to "Profile", current_user, class: 'dropdown-item'
              = link_to "Edit profile", edit_user_registration_path, class: 'dropdown-item'
              = link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item'
        - else
          %li.nav-item
            = link_to "Register", new_user_registration_path, class: 'nav-link'
          %li.nav-item
            = link_to "Login", new_user_session_path, class: 'nav-link'